---
layout: default
title: " - Resume"

nav: [
    {
        "title": "Home",
        "icon": "bi-arrow-left",
        "link": "/",
        "inverted": true,
        "no-scroll": true
    },
    {
        "title": "Summary",
        "icon": "bi-person-fill",
        "link": "#"
    },
    {
        "title": "Work Experience",
        "icon": "bi-briefcase-fill",
        "link": "#work-experience"
    },
    {
        "title": "Education",
        "icon": "bi-mortarboard-fill",
        "link": "#education"
    },
    {
        "title": "Download - Marc Tremblay Resume.pdf",
        "icon": "bi-download",
        "link": "assets/docs/Marc Tremblay Resume.pdf",
        "external": true,
        "inverted": true,
        "no-scroll": true
    }
]
---

{% include components/hero.html %}

<div class="container-fluid px-0 ">
    <div id="summary" class="mt-5">
        {% include components/section-header.html title="Summary" %}
    </div>
    
    {% include resume/summary.html %}
    
    {% include resume/tech-icons.html %}

    {% include resume/experience.html %}

    {% include resume/education.html %}
</div>

<script src="assets/js/work-experience.js"></script>
