---
layout: default
title: " - Resume"

summary: "Results-driven Game Programmer and Software Developer seeking a challenging development role. Proven track record of collaborating within interdisciplinary teams to deliver innovative
projects, with experience in C++, C#, Unity, and proprietary engines."

links: true
---

{% include components/hero.html %}

<div class="container-fluid px-0 ">
    {% include resume/summary.html %}
    
    {% include resume/tech-icons.html %}

    {% include resume/experience.html %}
</div>