
<footer class="footer py-3 bg-primary text-white text-center">
    <div class="container">
        {% if include.links %}
        <div class="d-grid gap-md-4 mt-0 mb-2 d-md-flex d-none justify-content-sm-center">
            <h5 class="my-0">
                <a class="text-decoration-none link-light link-opacity-75-hover" href="/">Home</a>
            </h5>
            <div class="vr border"></div>
            <h5 class="my-0">
                <a class="text-decoration-none link-light link-opacity-75-hover" href="/resume">Resume</a>
            </h5>
            <!-- <h5><a class="text-decoration-none link-light link-opacity-75-hover" href="#timeline" data-scroll>Timeline</a></h5> -->
        </div>
        {% endif %}
        <span>&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved.</span>
    </div>
</footer>