<div id="particles-js" class="p-0 hero-gradient vh-100 text-white text-center shadow position-relative">
    <div class="p-0 m-0 col-sm-8 col-12 position-absolute top-50 start-50 translate-middle">
        <h1 class="display-3 fw-bold">{{ site.title }}</h1>
        <h4 class="fw-semibold">{{ site.tagline }}</h4>
        <!-- TODO: add social icons -->
        <div class="d-grid gap-md-4 mt-0 d-md-flex d-none justify-content-sm-center">
            <h5><a class="text-decoration-none link-light link-opacity-50-hover" href="#about" data-scroll>About</a></h5>
            <h5><a class="text-decoration-none link-light link-opacity-50-hover" href="#projects" data-scroll>Projects</a></h5>
            <h5><a class="text-decoration-none link-light link-opacity-50-hover" href="#timeline" data-scroll>Timeline</a></h5>
        </div>
    </div>
    <!-- TODO: add down arrow -->
</div>