{% if include.project.status %}
    {% capture badge %}
        <p><span class="badge fw-normal rounded-pill px-3 py-2 bg-{{ include.project.status-color }} text-white">{{ include.project.status }}</span></p>
    {% endcapture %}
{% else %}
    {% assign statuscolor = "muted" -%}
    {% capture badge %}
        <div class="pt-3 pb-4"></div>
    {% endcapture %}
{% endif %}
<div class="card p-0 col-xxl-3 col-lg-5 col-md-8 col-12 mx-2 my-2 border-2 shadow">
    {% if include.project.images %}
        {% assign image = include.project.images[0] %}
        <img src="{{ image }}" class="card-img-top border-bottom border-2 border-muted" alt="{{ include.project.title }}">
    {% endif %}
    <div class="card-body">
        {% if include.project.url %}
            <h3 class="card-title fw-bold">
                <a class="link-underline-opacity-0 link-primary link-underline-opacity-75-hover" 
                href="{{ include.project.url }}" 
                {% if include.project.external == "true" %}
                target="_blank" rel="noopener noreferrer"
                {% endif %}>{{ include.project.title }}</a>
            </h3>{{ badge }}
        {% else %}
            <h3 class="card-title text-primary fw-bold">{{ include.project.title }}</h3>{{ badge }}
        {% endif %}
        <p class="text-left card-text text-primary text-truncate-3">{{ include.project.description }}</p>
        <div class="d-grid gap-2 d-flex justify-content-center">
        {% for tag in include.project.tags %}
            {% include components/tag.html content=tag %}
        {% endfor %}
        </div>
    </div>
</div>