<div class="col-xxl-6 col-xl-8 col-sm-10 col-12 mx-auto my-3">
    <p class="text-secondary px-4 fw-semibold my-0 text-start">
        {{ include.job.date }}
    </p>
    <div class="p-0 mx-4 text-start">
        <h4 class="fw-bold text-primary">{{ include.job.title }} <span class="fs-5 text-secondary fw-semibold"> {{ include.job.company }}</span></h4>
        <ul class="text-dark lead">
            {% for task in include.job.tasks %}
            <li>{{ task }}</li>
            {% endfor %}
        </ul>
        <div class="d-grid gap-4 mt-3 mb-0 d-flex justify-content-center">
            {% for project in include.job.projects %}
                <span  id="project-link" data-project-id="{{ project }}"></span>
            {% endfor %}
        </div>
    </div>
    {% if forloop.last != true %}
    <div class="d-flex justify-content-center">
        <hr class="bg-muted border-1 rounded-pill border border-muted col-10" />
    </div>
    {% endif %}
</div>