{% capture projects %}
    <div id="projects" class="row justify-content-center">
    </div>
    <div class="d-grid gap-2 mt-5 d-sm-flex justify-content-sm-center">
        {% capture github %}
            mailto:{{ site.github-url }}
        {% endcapture %}
        
        <!-- {% include components/text-button.html link="/projects" external="false" text="All Projects" %} -->
        {% include components/text-button.html link=github external="true" text="GitHub" %}
    </div>
{% endcapture %}

{% include components/section.html title="Featured Projects" id="featured-projects" content=projects %}
