<div class="nav d-md-flex d-none flex-column position-fixed top-50 start-0 translate-middle-y z-2 gap-3 ms-4 fs-2">
    {% for item in page.nav %}
        <div class="nav-item">
            <a class="nav-link nav-circle 
            {% if item.inverted %}
                primary-link bg-primary-link
            {% else %}
                primary-link-inverted bg-primary-link-inverted
            {% endif %}" aria-current="page"  href="{{ item.link }}" 
            {% if item.external %}
                target="_blank" rel="noopener noreferrer"
            {% endif %}
            
            {% unless item.no-scroll %}
                data-scroll
            {% endunless %}>
                <i class="bi {{ item.icon }}" title="{{ item.title }}"></i>
            </a>
        </div>
    {% endfor %}
</div>